
body {
    background-color: #000000;
    color: white;
}
a
.my_image {
    /*width: 120px;*/
    height: 60%;
}

img.post {
    width: 110px;
}

.title{
    height: 25%;
}

.header{
    display: flex;
    /*justify-content: space-around;*/
    background-color: #F6F1F1;
    color: black;
    height: 17%;
    align-items: center;
}

.contents{
    display: flex;
    justify-content: space-around;
    height: 78%
}



.user-list {
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
    height: 40%;
    width: 50%;
    background-color: #ce1973;
    padding: 20px;
}


 

.header > div{
    padding: 20px;
}