<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>Connect 4</title>
     <link rel="stylesheet" type="text/css" href="/static/css/gameboard.css"/>
    <script src="/static/js/boardFunction.js"></script>
    <link type="image/png" sizes="16x16" rel="icon" href="\static\images\TASKSFavicon.png">
</head>
<body>
    <div class="header">
        <div class="image_div">
            <img src={{game_image}} alt="lobby picture" class="my_image"/>
        </div>
        <div>
            <p id="paragraph">
                <h1>Welcome to the Ultimate Connect 4 Game</h1>
                {% if verified == false %}
                <h3>Your email needs to be verified! Check your email.</h3>
                {% else %}
                {% endif %}
            </p>
        </div>
    </div>
    <h2 class="winner" id="winner">{{winner}}</h2>
    <h3 class="turn" id="turn">{{current_turn}}</h3>
    <div id="player-info">
        <div class="player">
            <h3>{{p1}}</h3>
            <img src={{p1_pic}} alt="Player 1 Image" class="leftImage">
        </div>
        <div class="player">
            <h3>{{p2}}</h3>
            <img src={{p2_pic}} alt="Player 2 Image" class="rightImage">
        </div>
    </div>
    <div class="container" id="game-container">
        <div id="board"></div>
    </div>

    <div id="game-id">{{game_id}}</div>
</body>
</html>